%h1
  Editing membership
- form_for(@membership) do |f|
  = f.error_messages
  %p
    = f.label :user_id
    %br
    = f.text_field :user_id
  %p
    = f.label :group_id
    %br
    = f.text_field :group_id
  %p
    = f.submit "Update"

= link_to 'Show', @membership
|
= link_to 'Back', memberships_path
