%h1
  Listing memberships
%table
  %tr
    %th
      User
    %th
      Group
  - for membership in @memberships
      %tr
        %td
          = h membership.user_id
        %td
          = h membership.group_id
        %td
          = link_to 'Show', membership
        %td
          = link_to 'Edit', edit_membership_path(membership)
        %td
          = link_to 'Destroy', membership, :confirm => 'Are you sure?', :method => :delete

%br
= link_to 'New membership', new_membership_path
