- @section = 'groups'

.yui-b
  = render :partial => 'groups/search_options'
  
#yui-main
  .yui-b
    -box :class => "group_list" do
      %h3
        = link_to :new_group.l, new_group_path, :class => 'right' if logged_in?
        =:site_groups.l :site => AppConfig.community_name

      .pagination= paginating_links @groups, :params => params if @groups.page_count > 1

      %br.clear
      - if @groups.any?
        = render :partial => "groups/group", :collection => @groups
      %br.clear
      
      .pagination= paginating_links @groups, :params => params if @groups.page_count > 1

