-box do 
  %h3=:group_roster.l
  %table{ :cellpadding => "0", :border => "0", :width => '100%'}
    %tr{ :align => "center"}
      %th
        \#
      %th
        Photo
      %th
        Name
      %th
        Group Role
      %th
        Manage
    - @group.members_in_role(["Owner"]).each do |member|
      %tr{ :align => "left", :class => cycle("even", "odd") }
        %td
          = member.user.id
        %td
          = image_tag( member.user.avatar_photo_url(:thumb), :class => "polaroid", :height => 50 )
        %td
          = member.user.login
        %td
          = "Owner"
        %td
    %tr{ :align => "center"}
      %td{ :colspan => "5", :style => "text-align:right;" }
        = pluralize(@group.members_in_role(["Owner"]).size," Owner")
    - @group.members_in_role(["Fan"]).each do |member|
      %tr{ :align => "center", :class => cycle("even", "odd") }
        %td
          = member.user.id
        %td
          = image_tag( member.user.avatar_photo_url(:thumb), :class => "polaroid", :height => 50 )
        %td
          = member.user.login
        %td
          = "Fan"
        %td.manager{ :align => "center" }
    %tr{ :align => "center"}
      %td{ :colspan => "5", :style => "text-align:right;" }
        = pluralize(@group.fans.size," Fan")
    %tr{ :align => "left" }
      %td{ :colspan => "5", :style => "text-align:right;" }
        = pluralize(@group.users.size," Total Member")