
.yui-b= render :partial => "groups/sidebar"

#yui-main
  .yui-b
  
    -box do
      %h3=@group.name

      - if @group.short_description
        %p= @group.short_description  
  
    - if @group.photos.any?
      -box do
        %h3
          = link_to :new_group_photo.l, new_group_photo_path, :class => 'right' if logged_in?  
          = :group_photos.l :name => @group.name

        - @group.photos.each do |photo|
          = link_to image_tag( photo.public_filename(:thumb)), group_photo_path(@group, photo)

    #comments.box.hfeed.comments
      %h3=:group_comments.l
      %h2=:add_your_comment.l
      %p= render :partial => 'comments/comment_form', :locals => {:commentable => @group}
      %a#newest_comment
      = render :partial => 'comments/comment', :collection => @comments
      %span#more_comments_links= more_comments_links(@group)

          